<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>"ToDoIonic"</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="ToDoIonic" ng-controller="TodoCtrl">

  <ion-side-menus>

      <!-- Center content -->
      <ion-side-menu-content>
          <ion-header-bar class="bar-dark">
              <button class="button button-icon" ng-click="toggleProjects()">
                  <i class="icon ion-navicon"></i>
              </button>
              <h1 class="title">{{activeProject.title}}</h1>
              <!-- New Task button-->
              <button class="button button-icon" ng-click="newTask()">
                  <i class="icon ion-compose"></i>
              </button>
          </ion-header-bar>
          <ion-content scroll="false">
              <ion-list>
              <ion-item ng-repeat="task in tasks">
                  {{task.title}}
              </ion-item>
              </ion-list>
          </ion-content>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left">
          <ion-header-bar class="bar-dark">
              <button class="button button-icon ion-plus" ng-click="newProject()">
              </button>
              <h1 class="title">Projects</h1>
          </ion-header-bar>
          <ion-content scroll="false">
              <ion-list>
                  <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
                      {{project.title}}
                  </ion-item>
              </ion-list>
          </ion-content>
      </ion-side-menu>

  </ion-side-menus>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

  </body>
</html>
